@import '../../styles/variables.scss';

.productsContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    display: flex;
    gap: 20px;

    min-height: calc(100vh - 125px);

    .rightSide {
      width: 100%;
    }

    @media screen and (max-width: $lg) {
      display: block;
    }
}